<% layout('layouts/boilerplate') %>

    <%- include('partials/navbar')%>

        <link rel="stylesheet" href="../stylesheets/home.css" />

        <br><br><br><br>
        <div class="container container1">
            <div class="row">
                <div class="col-6">
                    <div class="card" style="width: 18rem;">
                        <img src="../images/host.png" class="card-img-top" alt="...">
                        <div class="card-body mt-3" style="justify-content: space-around; align-items: center;">
                            <span class="hostbtn"><a href="/createTest"></a></span>
                            <p class="card-text text-center">Host a quiz which students will be able to attempt by
                                entering the Quiz
                                ID.</p>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card pb-2" style="width: 18rem;">
                        <img src="../images/join.png" class="card-img-top" alt="...">
                        <div class="card-body" style="justify-content: space-around; align-items: center;">
                            <span class="joinbtn">
                                <span data-toggle="modal" data-target="#exampleModal"></span>
                            </span>
                            <p class="card-text text-center">Join a quiz by entering the Quiz ID.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header ">
                        <h5 class="modal-title" id="exampleModalLabel">Enter the Quiz ID here</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center ">
                        <input type="text" name="quizid" id="quizid" style="width: 70%; height: 40px;">
                        <br><br>
                        <button onclick="handleClick()" class="btn btn-outline-primary"> SUBMIT </button>
                    </div>

                </div>
            </div>
        </div>

        <script type="text/javascript">
            function handleClick() {
                const testid = document.getElementById("quizid").value;
                if (testid == "") {
                    alert("Enter quiz id!")
                } else {
                    window.location.href = `/attemptTest/${testid}`
                }
            }



        </script>