<% layout('layouts/boilerplate') %>
    <%#- include('partials/navbar')%>

        <link rel="stylesheet" href="../stylesheets/testUnavailable.css">


        <section id='section1'>

            <div class="container2" style="text-align: center;">
                <div class="container1">

                    <h1 style="color:#696969;">Test Unavailable!</h1>
                    <hr>
                    <p class="para">
                        <%=msg1%>
                    </p>
                    <p class="para">
                        <%=msg2%>
                    </p>
                    <p class="para">
                        <%=time%>
                    </p>

                </div>
            </div>
        </section>
        <br>
        <br>