@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
   box-sizing: border-box;
}

.container1 {
   width: 700px;
}
.card {
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
   overflow: hidden;
   width: 300px;
}
.card-header img {
   width: 100%;
   height: 200px;
   object-fit: cover;
}
.card-body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   padding: 20px;
   min-height: 250px;
}

.tag {
   background: #cccccc;
   border-radius: 50px;
   font-size: 12px;
   margin: 0;
   color: #fff;
   padding: 2px 10px;
   text-transform: uppercase;
   cursor: pointer;
}
.tag-teal {
   background-color: #47bcd4;
}
.tag-purple {
   background-color: #5e76bf;
}
.tag-pink {
   background-color: #cd5b9f;
}

.card-body p {
   font-size: 13px;
   margin: 0 0 40px;
}
.user {
   display: flex;
   margin-top: auto;
}

.user img {
   border-radius: 50%;
   width: 40px;
   height: 40px;
   margin-right: 10px;
}
.user-info h5 {
   margin: 0;
}
.user-info small {
   color: #545d7a;
}

.hostbtn {
   position: relative;
   display: inline-flex;
   width: 180px;
   height: 55px;
   margin: 0 15px;
   perspective: 1000px;
}

.joinbtn {
   position: relative;
   display: inline-flex;
   width: 180px;
   height: 55px;
   margin: 0 15px;
   perspective: 1000px;
}

.hostbtn a {
   font-size: 19px;
   letter-spacing: 1px;
   transform-style: preserve-3d;
   transform: translateZ(-25px);
   transition: transform 0.25s;
   font-family: 'Montserrat', sans-serif;
}

.joinbtn span {
   font-size: 19px;
   letter-spacing: 1px;
   transform-style: preserve-3d;
   transform: translateZ(-25px);
   transition: transform 0.25s;
   font-family: 'Montserrat', sans-serif;
}

.hostbtn a:before,
.hostbtn a:after {
   position: absolute;
   content: 'HOST';
   height: 55px;
   width: 180px;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 5px solid black;
   box-sizing: border-box;
   border-radius: 5px;
}

.joinbtn span:before,
.joinbtn span:after {
   position: absolute;
   content: 'JOIN';
   height: 55px;
   width: 180px;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 5px solid black;
   box-sizing: border-box;
   border-radius: 5px;
}

.hostbtn a:before {
   color: #fff;
   background: #000;
   transform: rotateY(0deg) translateZ(25px);
}
.hostbtn a:after {
   color: #000;
   transform: rotateX(90deg) translateZ(25px);
}
.hostbtn a:hover {
   transform: translateZ(-25px) rotateX(-90deg);
}

.joinbtn span:before {
   color: #fff;
   background: #000;
   transform: rotateY(0deg) translateZ(25px);
}
.joinbtn span:after {
   color: #000;
   transform: rotateX(90deg) translateZ(25px);
}
.joinbtn span:hover {
   transform: translateZ(-25px) rotateX(-90deg);
}
