.tab {
    display: none;
}

.forgot {
    text-align: left;
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

@media (max-width: 770px) {
    .searchbar {
        width: 15em !important;
    }
}

@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#section1 {
    position: relative;
    min-height: 100vh;
    background-color: #1cc1e5;

    background-image: url('https://i.pinimg.com/originals/0d/af/b7/0dafb7928a99a9cb552a941895a6e586.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

section .container2 {
    position: relative;
    width: 700px;
    height: 450px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

section .container2 .user {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

section .container2 .user .imgBx {
    position: relative;
    width: 50%;
    height: 100%;
    background: white;
    transition: 0.5s;
}

section .container2 .user .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgBx img {
    padding: 40px;
}

section .container2 .user .formBx {
    position: relative;
    width: 50%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    transition: 0.5s;
}

section .container2 .user .formBx form h2 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    color: #555;
}

section .container2 .user .formBx form input {
    position: relative;
    width: 100%;
    padding: 10px;
    background: #f5f5f5;
    color: #333;
    border: none;
    outline: none;
    box-shadow: none;
    margin: 8px 0;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 300;
}

section .container2 .user .formBx form input[type='submit'] {
    max-width: 100px;
    background: #677eff;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.5s;
}

section .container2 .user .formBx form .signup {
    position: relative;
    margin-top: 20px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #555;
    text-transform: uppercase;
    font-weight: 300;
}

section .container2 .user .formBx form .signup a {
    font-weight: 600;
    text-decoration: none;
    color: #677eff;
}

section .container2 .signupBx {
    pointer-events: none;
}

section .container2.active .signupBx {
    pointer-events: initial;
}

section .container2 .signupBx .formBx {
    left: 100%;
}

section .container2.active .signupBx .formBx {
    left: 0;
}

section .container2 .signupBx .imgBx {
    left: -100%;
}

section .container2.active .signupBx .imgBx {
    left: 0%;
}

section .container2 .signinBx .formBx {
    left: 0%;
}

section .container2.active .signinBx .formBx {
    left: 100%;
}

section .container2 .signinBx .imgBx {
    left: 0%;
}

section .container2.active .signinBx .imgBx {
    left: -100%;
}

@media (max-width: 991px) {
    section .container2 {
        max-width: 400px;
    }

    section .container2 .imgBx {
        display: none;
    }

    section .container2 .user .formBx {
        width: 100%;
    }
}
